*{
    text-align: center;
    box-sizing: border-box;
}

#first_page{
    background-position: bottom 0px right 00px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    margin-bottom: 30px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url("../img/animals/keyur-nandaniya-vu0gvM5he8o-unsplash.jpg");

}

h1{ 
    text-align: center;;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 4px 4px #000000;
    

}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#grid_wrapper {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas: "meny oppe oppe" "meny bild1 bild2" "meny om om";
}

#meny {
    grid-area: meny;
    background-image: url("../img/food/anh-nguyen-kcA-c3f_3FE-unsplash.jpg");
    transition: 0.1s;

}

#meny:hover {
    box-shadow: 0px 0px 10px 5px #888888;
}

#meny > hr {
    position: relative;
    bottom: calc(30% + 29px);
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
}

#meny > h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    bottom: 30%;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 2px #000000;
}



#oppetider {
    grid-area: oppe;
    background-image: url("../img/animals/-lizards_-animals_-zoo_-istanbul_-turkey_-istanbulzoo_-tourism_\(14304639363\).jpeg");
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 2px #000000;
}

#oppetider > hr {
    position: relative;
    bottom: 22px;
    width: 90px;
    border: 2px solid white;
}

#oppetider > p {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: 40px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}


#bild_1{
    grid-area: bild1;
    background-image: url("../img/animals/meerkats-zoo-animals-zoological-garden-preview.jpeg");
}

#bild_2{
    grid-area: bild2;
    background-image: url("../img/animals/ray-hennessy-xUUZcpQlqpM-unsplash.jpg");
}

#om_oss {
    grid-area: om;
    background-image: url("../img/animals/delfi-de-la-rua-vfzfavUZmfc-unsplash.jpg");
    transition: 0.1s;
}

#om_oss:hover {
    box-shadow: 0px 0px 10px 5px #888888;
}

#om_oss > hr {
    position: relative;
    bottom: calc(30% + 30px);
    width: 210px;
    border: 2px solid rgb(0, 0, 0);
}

#om_oss > h2 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: 30%;
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 1px #000000;
}



body {
    padding: 0px;
    margin: 0px;
}

#grid_wrapper2 {
    margin: auto;
    width: 90%;
    display: flex;
    grid-gap: 100px 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.card > img, #mimemail-body {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 150px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
    border-radius: 10px;
    transition: 0.1s;
    padding: 10px 0px;
    width: 300px;  
}


.card:hover {
    box-shadow: 0px 0px 10px 5px #888888;
}

.card > hr {
    width: 99%;
    border: 2px dotted rgb(0, 0, 0);
}

.card > div > .icon {
    width: 35px;
    height: 35px;

}

.card > p {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #000000;
}
.card > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #bebebe;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: large;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}


#meny_rubrik {
    color: #000000;
    text-shadow: 0px 0px #000000;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    
  }
  
  .timeline::after {
    position: absolute;
    background-color: rgb(33, 29, 88);
    left: calc(50% - 3px);
    top: 15px;
    bottom: 0;
    width: 7px;
    content: '';
  }
  
  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(38, 30, 83);
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .content {
    border-radius: 6px;
    padding: 20px 30px;
    background-color: rgb(33, 30, 49);
    position: relative;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .right::after {
    left: -16px;
  }
  
  
  @media screen and (max-width: 600px) {
      .timeline::after {
        left: 28px;
      }
    
      .container {
        padding-right: 25px;
        width: 100%;
        padding-left: 70px;
      }
    
      .left::after, .right::after {
        left: 15px;
      }
    
      .right {
        left: 0%;
      }
    }